<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/settings.css">
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <header>
        <a href="./"><h1>Fible</h1></a>
        <a href="./profile/{{user.user}}">
            <div>Profile</div>
        </a>
    </header>
    <div></div>
    
    <div class="container">
        
        <div class="settings">
            <form action="settings" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="file" name="image"><br>
                <label for="file">Choose Photo</label><br> 
                Change bio <br><input type="text" name="bio"><br>
                Change email <br><input type="text" name="email"><br>
                <button>Submit</button>
            </form>
        </div>
       
    </div>
</body>
</html>